body {
    background-color: #F8F8F8;
    font-family: cairo
}


.title {
    background-color: #ffffff;
}



.containerMyStyle {
    margin-bottom: 15px
}

/* Start color*/
.back-91 {
    background-color: #c9c9c9
}

.color-91 {
    color: #c9c9c9
}

.back-fff {
    background-color: #ffffff
}

.color-fff {
    color: #ffffff
}

.back-f00 {
    background-color: #f00
}

.color-f00 {
    color: #f00
}

.back-00f {
    background-color: #0076FF
}

.color-00f {
    color: #0076FF
}

/* End color*/

.hrMyStyleB1 {
    width: 80%;
    height: 3px;
    background-color: #023e8a;
}

.hrMyStyleW {
    width: 80%;
    height: 3px;
    background-color: #ffffff;
}

.hrMyStyleB {
    width: 80%;
    height: 3px;
    background-color: #333333;
}

.hrMyStyleR {
    width: 80%;
    height: 3px;
    background-color: red;
}

.hrMyStyleG {
    width: 80%;
    height: 3px;
    background-color: green;
}

a {
    text-decoration: none;
    transition: all 0.4s ease-in-out
}

a:hover {
    text-decoration: none;
    color: #023e8a
}
